/*version ordi*/
.img_resto {
    @include imagesrestoordi;
    &--modifier {
        @extend .img_resto;
        height: 500px;
        bottom: 200px;
    }
}
@media screen and (max-width: map-get($breakpoint, mobile)) {
    .img_resto {
        @include imagesrestomobile;
        &--modifier {
            @include imagesrestomobile;
            height: 350px;
            bottom: 125px;
        }
    }
}
@media (min-width: map-get($breakpoint, littletablette)) and (max-width: map-get($breakpoint, bigtablette)) {
    .img_resto {
        @include imagesrestotablette;
        &--modifier {
            @include imagesrestotablette;
            height: 350px;
            bottom: 130px;
        }
    }
}
