@font-face{
    font-family: 'Shand';
        src: url('menu/polices/Shrikhand-Regular.otf');
}
@font-face{
    font-family: 'Roboto';
        src: url('menu/polices/Roboto-Medium.ttf');
}
@mixin police1 {
    font-family: "Shand", sans-serif;
    font-style: normal;
    font-weight: normal;
}
@mixin police2 {
    font-family: "Roboto", "trebuchet MS", sans-serif;
}
@mixin titreh2{
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
@mixin titreh2mobile{
    font-size: 23px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
@mixin titreh2tablette{
    font-size: 32px;
    margin-left: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
}
$color-primary: #9356DC;
$light-color-primary: lighten($color-primary, 30%);
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #FFF;
$color-grey: rgb(234,234,234);
$color-grey-light: rgb(246,246,246);
$color-grey-dark: rgb(53,53,53);


html, body, div, span, h1, h2, h3, p, a, img, ul, li, figure, figcaption, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*version ordi*/
header{
    overflow: hidden;
}
.logo{
    width: 20%;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.recherche{                     
    width: 100%;
    height: 100px;
    background-color:  $color-grey;
    box-shadow: 2px 2px 5px #9c9a9a inset;
    display: flex;
    justify-content: center;
    align-items: center;
    & i{
        font-size: 30px;
    }
    & .search {
        width: 25%;
        font-size: 30px;
        background-color: $color-grey;
        border: 1px solid $color-grey;
        margin-left: 10px;
        @include police1;
    }
}
.titre{
    width: 100%;
    font-size: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: $color-grey-light;
    @include police2;
    & h1{
        width: 90%;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    & p{
        width: 90%;
        font-size: 30px;
        margin-bottom: 20px;
    }
}
.button{
    width: 400px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 35px;
    color: $color-white;
    font-size: 30px;
    line-height: 80px;
    background: linear-gradient($color-secondary, $color-primary);
    text-decoration: none;
}
/*nav*/
nav {
    width: 100%;
    margin-bottom: 50px;
    @include police2;
    & h2{
        @include titreh2;
    }
    & ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        & li{
            width: 25%;
            height: 75px;
            background-color: $color-grey-light;
            box-shadow: 2px 2px 6px $color-grey;
            list-style-type: none;
            border-radius: 20px;
            display: flex;
            align-items: center;
            padding-left: 30px;       
            & span{
                width: 25px;
                height: 25px;
                color: $color-white;
                font-size: 15px;
                border: 1px solid $color-primary;
                background-color: $color-primary;
                border-radius: 50%;
                line-height: 25px;
                display: flex;
                justify-content: center;
                margin-right: 20px;
            }
            & i {
                color: grey;
                font-size: 30px;
                margin-right: 25px;
            }
            & p{
                font-size: 23px;
                font-weight: bold;
            }
        }
    }
}
.fonctionnement:hover{
    background-color: $light-color-primary;
    box-shadow: 3px 3px 6px $color-grey-dark;  
    & i{
        color: $color-primary;
    }
}
/*section*/
section {
    width: 100%;
    background-color: $color-grey-light;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    @include police2;
    & h2{
        @include titreh2;
        width: 100%;
    }
    & .restaurant{
        width: 35%;
        height: 320px;
        margin:auto;
        margin-bottom: 3%;
        background-color: $color-white;
        border-radius: 30px;
        box-shadow: 2px 2px 6px $color-grey;
    }
    & figure {
        width: 100%;
        height: 305px;
        margin: 0;
        background-color: $color-white;
        border-radius: 30px;
        overflow: hidden;
        & p {
            font-size: 27px;
            margin: 0px;
            margin-top: 2px;
        }
    }
    & a{
        text-decoration: none;
        color: black;
    }
}
@mixin imagesrestoordi {
    width: 105%;
    height: 310px;
    position: relative;
    right: 5px;
}
.img{
    &_resto{
        @include imagesrestoordi;
        bottom: 90px;
    &--modifier{
        @include imagesrestoordi;
        height: 500px;
        bottom: 200px;
        }
    }   
}
@mixin figcaption{
    width: 100%;
    height: 120px;               
    display: flex;
    align-items: center;
    background-color: $color-white;  
    position: relative;
}
.figcap-1{
    @include figcaption;
    bottom: 157px;
    &-2{
        @include figcaption;
        bottom: 350px;
    }
    &-2-3{
        @include figcaption;
        bottom: 115px;
    }
    &-2-3-4{
        @include figcaption;
        bottom: 115px;
    }
}
.figcap{
    &_texte{
        margin-right: 15%;
        padding-left: 30px;
        width: 60%;
        @include police2;
        &_gras{
            font-weight: bold;
        }
    }
    & .far{
        font-size: 40px;
        color: $color-grey-dark;
        position: absolute;
        right: 15%;
        z-index: 1;
    }
    & .fas{
        font-size: 40px;
        position: absolute;
        right: 15%;
        display: none;
    }
}
@mixin bouton-nouveau{
    width: 120px;
    height: auto;
    font-size: 25px;
    position: relative;
    border: 1px solid $color-tertiary;
    background: $color-tertiary;
    color: rgb(2, 167, 2);
    left: 72%;
    line-height: 30px;
    display: flex;
    justify-content: center;
}
.nouveau1{
    @include bouton-nouveau;
    bottom: 98%;
}
.nouveau2{
    @include bouton-nouveau;
    bottom: 161%;
}
/*footer*/
footer{
    background-color: $color-grey-dark;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 30px;
    & h3 {
        @include police1;
        color: $color-white;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
footer ul{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-bottom: 30px;
    & li{
        list-style-type: none;
        margin-left: -40px;
        @include police2;
        width: 20%;
        font-size: 23px;
        & a{
            text-decoration: none;
            color: $color-white;
        }
    }
    & i {
        width: 12px;
        font-size: 18px;
        margin-right: 10px;
    }
}

$breakpoint: (
    mobile: 767px,
    littletablette: 768px,
    bigtablette: 991px,
);
@media screen and (max-width: map-get($breakpoint, mobile)){

/*header*/
header{
    overflow: hidden;
}
.logo{
    width: 165px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.recherche{                     
    width: 100%;
    height: 50px;
    & i{
        font-size: 13px;
    }
    & .search {
        width: 40%;
        font-size: 13px;
    }
}
.titre{
    font-size: 25px;
    & p{
        font-size: 15px;
    }
}
.button{
    width: 220px;
    height: 50px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 50px;
}

/*nav*/
nav {
    & h2{
        @include titreh2mobile;
    }
    & ul{
        flex-wrap: wrap;
        & li{
            width: 75%;
            margin-bottom: 25px;       
            & span{
                position: absolute;
                left: 12px;
                margin-left: 0px;
            }
            & i{
                font-size: 20px;
            }
            & p{
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
}
/*section*/
section {
    & h2{
        @include titreh2mobile;
    }
    & .restaurant{
        width: 90%;
        height: 210px;
        border-radius: 10px;        
        overflow: hidden;
        box-shadow: 2px 2px 6px $color-grey;
        margin-bottom: 20px;
    }
    & figure {
        width: 100%;
        border-radius: 20px;
        & p {
            font-size: 16px;
        }
    }
}
@mixin imagesrestomobile {
    width: 105%;             
    height: 200px;
    position: relative;
}
.img{
    &_resto{
    @include imagesrestomobile;
    bottom: 50px;
    &--modifier{
        @include imagesrestomobile;
        height: 350px;
        bottom: 125px;
        }
    }   
}
@mixin figcaption{
    width: 100%;
    height: 50px;     
    padding-top: 20px;
}
.figcap-1{
    @include figcaption;
    bottom: 90px;
    &-2{
        @include figcaption;
        bottom: 240px;
    }
    &-2-3{
        @include figcaption;
        bottom: 55px;
    }
    &-2-3-4{
        @include figcaption;
        bottom: 55px;
    }
}
.figcap{
    &_texte{
    padding-left: 10px;
    height: 70px;
    margin-right: 20%;
    }
    & .far{
        font-size: 25px;
        right: 10%;
        top: 25%;
    }
    & .fas{
        font-size: 25px;
        right: 10%;
        top: 25%;
    }
}

@mixin bouton-nouveau{
    width: 80px;
    height: 30px;
    font-size: 15px;
    left: 65%;
}
.nouveau1{
    @include bouton-nouveau;
    bottom: 62%;
}
.nouveau2{
    @include bouton-nouveau;
    bottom: 111%;
}
/*footer*/
footer{
    width: 100%;
    & h3 {
        font-size: 20px;
    }
}
footer ul{
    flex-direction: column;
    margin-bottom: 20px;
    & li{
        width: 90%;
        font-size: 18px;
        margin-bottom: 10px;
    }
    & i {
        font-size: 16px;
    }
}
}
@media (min-width: map-get($breakpoint, littletablette)) and (max-width: map-get($breakpoint, bigtablette)){
/*header*/ 
.logo{
    width: 200px;
    margin-top: 20px;
}
.recherche{ 
    height: 80px;
    & i{
        font-size: 20px;
    }
    & .search {
        width: 180px;
        font-size: 20px;
    }
}
.titre{
    font-size: 40px;
}
/*nav*/
nav {
    & h2{
        font-size: 35px;
        @include titreh2tablette;
    }
    & ul{
        flex-wrap: wrap;
        justify-content: flex-start;
        & li{
            width: 40%;
            margin-left: 30px;
            margin-bottom: 20px; 
            & i{
                font-size: 25px;
                margin-right: 15px;
            }
            & p{
                font-size: 18px;
            }
        }
    }
}
/*section*/
section {
    & h2{
        font-size: 35px;
        @include titreh2tablette;
    }
    & .restaurant{
        width: 40%;
        height: 220px;    
    }
    & figure {
        height: 215px;
        & p {
            font-size: 18px;
        }
    }
}
@mixin imagesrestotablette {
    width: 105%;
    height: 200px;
}
.img{
    &_resto{
    @include imagesrestotablette;
    bottom: 40px;
    &--modifier{
        @include imagesrestotablette;
        height: 350px;
        bottom: 130px;
        }
    }   
}
@mixin figcaption{
    height: 70px;     
    padding-top: 15px;
}
.figcap-1{
    @include figcaption;
    bottom: 97px;
    &-2{
        @include figcaption;
        bottom: 250px;
    }
    &-2-3{
        @include figcaption;
        bottom: 65px;
    }
    &-2-3-4{
        @include figcaption;
        bottom: 65px;
    }
}
.figcap{
    &_texte{
    padding-left: 20px;
    height: 70px;
    }
    & .far{
        font-size: 30px;
        right: 10%;
        top: 25%;
    }
    & .fas{
        font-size: 30px;
        right: 10%;
        top: 25%;
    }
}
@mixin bouton-nouveau-tablette{
    width: 100px;
    height: 30px;
    font-size: 20px;
    left: 63%;
}
.nouveau1{
    @include bouton-nouveau-tablette;
    bottom: 88%;
}
.nouveau2{
    @include bouton-nouveau-tablette;
    bottom: 158%;
}
/*footer*/
footer{
    & h3 {
        font-size: 32px;
        margin-bottom: 40px;
    }
}
footer ul{
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 0px;
    & li{
        width: 40%;
        font-size: 25px;
        margin-bottom: 20px;
    }
    & i {
        font-size: 16px;
    }
}
}
/*animation*/
.far:hover{
    animation: heart_1 600ms both ease-in-out;
}
.far{
    &:hover ~ .fas {
        display: block;
        background:-webkit-linear-gradient($color-primary, $color-secondary);
        background-clip:text;
        color:transparent;
        animation: animation-heart 800ms ease-in-out;
    }
}
@keyframes heart_1{
    100%{
        opacity: 0;
    }
    75%{
        opacity: .25;
    }
    50%{
        opacity: .50;
    }
    25%{
        opacity: .75;
    }
    0%{
        opacity: 1;
    }
}
@keyframes animation-heart{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}