@font-face{
    font-family: 'Shand';
        src: url('polices/Shrikhand-Regular.otf');
}
@font-face{
    font-family: 'Roboto';
        src: url('polices/Roboto-Medium.ttf');
}
@mixin police1 {
    font-family: "Shand", sans-serif;
    font-style: normal;
    font-weight: normal;
}
@mixin police2 {
    font-family: "Roboto", "trebuchet MS", sans-serif;
}
@mixin titreh2{
    font-size: 20px;
}
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #FFF;
$color-grey-light: #e4dede;
$color-grey-medium: #d1d0d0;
$color-grey-dark: #444444;

/*header*/
.logo{
    width: 165px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.recherche{                     /*pq marge à droite et gauche ?? Centrer icone et barre*/
    width: 100%;
    height: 50px;
    background-color:  $color-grey-medium;
    box-shadow: 2px 2px 5px #9c9a9a inset;
    line-height: 50px;
    padding-left: 85px;
    & i{
        font-size: 13px;
        margin: auto;
    }
    & .search {
        width: 50%;
        font-size: 13px;
        background-color: $color-grey-medium;
        border: 1px solid  $color-grey-medium;
        @include police1;
    }
}
.titre{
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: $color-grey-light;
    @include police2;
    & h1{
        width: 70%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    & p{
        width: 80%;
        font-size: 12px;
        margin-top: 0;
    }
}
.button{
    width: 220px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 35px;
    color: $color-white;
    font-size: 16px;
    line-height: 50px;
    background: linear-gradient($color-secondary, $color-primary);
    text-decoration: none;
}

/*nav*/
nav {
    width: 100%;
    @include police2;
    & h2{
        @include titreh2;
    }
    & ul{
        & li{
            height: 75px;
            margin-bottom: 25px;
            box-shadow: 2px 2px 6px $color-grey-light;
            list-style-type: none;
            margin-left: -20px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            padding-left: 30px;
            & span{
                width: 25px;
                height: 25px;
                color: $color-white;
                font-size: 15px;
                border: 1px solid $color-primary;
                background-color: $color-primary;
                border-radius: 50%;
                line-height: 25px;
                position: absolute;
                left: 15px;
                display: flex;
                justify-content: center;
            }
            & i {
                color: grey;
                font-size: 20px;
                margin-right: 25px;
            }
            & p{
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
}
/*section*/
section {
    width: 100%;
    background-color: $color-grey-light;
    padding-bottom: 50px;
    @include police2;
    & h2{
        @include titreh2;
        margin-left: 20px;
        padding-top: 50px;
    }
    & .restaurant{
        width: 85%;
        height: 220px;
        margin-left: 20px;
        margin-bottom: 10px;
        background-color: $color-white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 2px 2px 6px $color-grey-medium;
    }
    & figure {
        width: 100%;
        height: 250px;
        margin: 0px;
        background-color: $color-white;
        border-radius: 10px;
        & p {
            font-size: 14px;
            margin: 0px;
            margin-top: 2px;
        }
    }
    & a{
        text-decoration: none;
        color: black;
    }
}


@mixin imagesresto {
    width: 270px;
    height: 200px;
    position: relative;
}
.img{
    &_resto{
    @include imagesresto;
    left: -5px;
    top: -50px;
    &--modifier{
        @include imagesresto;
        height: 350px;
        left: -5px;
        top: -125px;
        }
    }   
}
@mixin figcaption{
    width: 100%;
    height: 80px;               /*a supp ??*/
    display: flex;
    align-items: center;
    background-color: $color-white;  /*mettre en blanc*/
    position: relative;
}
.figcap-1{
    @include figcaption;
    top: -87px;
    &-2{
        @include figcaption;
        top: -240px;
    }
    &-2-3{
        @include figcaption;
        top: -55px;
    }
    &-2-3-4{
        @include figcaption;
        top: -55px;
    }
}
.figcap{
    &_texte{
    margin: 0px;
    margin-right: 20%;
    padding-left: 10px;
    padding-top: 15px;
    width: 60%;
    height: 70px;
    @include police2;
        &_gras{
            font-weight: bold;
        }
    }
    & i{
        font-size: 25px;
        color: $color-grey-dark;
        margin-top: -20px;
    }
}
@mixin bouton-nouveau{
    width: 80px;
    height: 30px;
    position: relative;
    border: 1px solid $color-tertiary;
    background: $color-tertiary;
    color: green;
    right: -170px;
    line-height: 30px;
    display: flex;
    justify-content: center;
}
.nouveau1{
    @include bouton-nouveau;
    top: -190px;
}
.nouveau2{
    @include bouton-nouveau;
    top: -340px;
}


/*footer*/
footer{
    background-color: $color-grey-dark;
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 30px;
    & h3 {
        @include police1;
        color: $color-white;
    }
}
footer ul{
    & li{
        list-style-type: none;
        margin-left: -40px;
        margin-bottom: 10px;
        @include police2;
        & a{
            text-decoration: none;
            color: $color-white;
        }
    }
    & i {
        width: 12px;
        font-size: 13px;
        margin-right: 10px;
    }
}