.far:hover {
    animation: heart_1 600ms both ease-in-out;
}
.far {
    &:hover ~ .fas {
        display: block;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        color: transparent;
        animation: animation-heart 800ms ease-in-out;
    }
}
@keyframes heart_1 {
    100% {
        opacity: 0;
    }
    75% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    25% {
        opacity: 0.75;
    }
    0% {
        opacity: 1;
    }
}
@keyframes animation-heart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*animation spinner*/
.fa-spinner {
    animation: {
        name: spinner_rotate;
        iteration-count: 3;
        duration: 1000ms;
        fill-mode: forwards;
    }
    transform-origin: center;
}
@keyframes spinner_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.construction {
    position: absolute;
    animation: position_spinner 2000ms forwards 1000ms;
    @include police1;
}
@keyframes position_spinner {
    0% {
        opacity: 1;
    }
    97% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.restaurant {
    animation: restoconstruction 2000ms backwards 1000ms;
}
@keyframes restoconstruction {
    0% {
        opacity: 0;
    }
    97% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
