@font-face {
    font-family: "Shand";
    src: url("../menu/polices/Shrikhand-Regular.otf") format("OpenType");
}
@font-face {
    font-family: "Roboto";
    src: url("../menu/polices/Roboto-Medium.ttf") format("truetype");
}
