@font-face {
    font-family: "Shand";
    src: url("polices/Shrikhand-Regular.otf") format("otf");
}
@font-face {
    font-family: "Roboto";
    src: url("polices/Roboto-Medium.ttf") format("ttf");
}
