@font-face{
    font-family: 'Shand';
        src: url('polices/Shrikhand-Regular.otf');
}
@font-face{
    font-family: 'Roboto';
        src: url('polices/Roboto-Medium.ttf');
}
@mixin police1 {
    font-family: "Shand", "comic sans ms",sans-serif;
    font-style: normal;
    font-weight: normal;
}
@mixin police2 {
    font-family: "Roboto", "trebuchet MS", sans-serif;
}
@mixin titreh2{
    font-size: 20px;
}
$color-primary: #9356DC;
$light-color-primary: lighten($color-primary, 30%);
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #FFF;
$color-grey: rgb(234,234,234);
$color-grey-light: rgb(246,246,246);
$color-grey-dark: rgb(53,53,53);

html, body, div, span, h1, h2, h3, p, a, img, ul, li, figure, figcaption, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*header*/
header{
    overflow: hidden;
    height: 500px;
}
.banniere {
    width: 100%;
    background-color: $color-white; 
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; 
    position: absolute;
    z-index: 1;
    & i {
        font-size: 40px;
        color: black;
        margin-left: 20px;
    }
    & img{
        margin:auto;
    }
}
.img_resto{
    width: 100%;
    position: relative;
    bottom: 300px;
}
.note{                      /*image note enchantée*/
    bottom : 700px;
    position: relative;
}
/*section*/
.menu{
    width: 100%;
    background-color: $color-grey-light;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 430px;
}
.titre{
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
    & h1{
        width: 100%;
        height: 40px;
        @include police1;
        font-weight: bold;
        font-size: 35px;
    }
    & .far{
        font-size: 35px;
        z-index: 1;
        position: absolute;
        right: 68%;
    }
    & .fas{
        position: absolute;
        right: 68%;
        font-size: 35px;
        display: none;
    }
}
.repas{
    width: 30%;
    @include police2;
    margin-bottom: 30px;
    margin-left: 20px;
    & h2{
        width: 65px;
        font-size: 28px;
        border-bottom: 4px solid $color-tertiary;
        margin-bottom: 20px;
        padding-bottom:5px ;
    }
    & .liste{
        overflow: hidden;
        margin-bottom: 30px;
    }
    & li{
        list-style-type: none;
        margin-bottom: 15px;
        width: 90%;
        height: 75px;
        box-shadow: 2px 2px 6px $color-grey-dark;
        border-radius: 15px;
        padding-left: 30px;        
    }
}
.texte{
    height: 65px;
    display: flex;
    flex-direction: column;
    &_gras{
        font-weight: bold;
        &--modifier{
            font-weight: bold;
            margin-right: 15px;
            padding-right: 10px;
        }
    }
    & p{
        margin-top: 10px;
    }
}
.texte_2{
    display: flex;
    justify-content: space-between;
}
.button{
    @include police2();
    width: 200px;
    height: 40px;
    margin-bottom: 40px;
    border-radius: 35px;
    color: $color-white;
    font-size: 20px;
    line-height: 40px;
    background: linear-gradient($color-secondary, $color-primary);
    text-decoration: none;
    text-align: center;
}
/*footer*/
footer{
    background-color: $color-grey-dark;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    top: 1000px;
    & h3 {
        @include police1;
        color: $color-white;
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
}
.enchantee{                 /*footer note enchantée*/
    top: 1100px;
}
footer ul{
    display: flex;
    justify-content: space-between;
    & li{
        list-style-type: none;
        margin-left: 20px;
        margin-bottom: 20px;
        @include police2;
        width: 20%;
        font-size: 23px;
        & a{
            text-decoration: none;
            color: $color-white;
        }
    }
    & i {
        width: 12px;
        font-size: 18px;
        margin-right: 10px;
    }
}


/*version mobile*/
$breakpoint: (
    mobile: 767px,
    littletablette: 768px,
    bigtablette: 991px,
);
@media screen and (max-width: map-get($breakpoint, mobile)){
/*header*/
.logo{
    width: 165px;
}
.banniere{
    & i{
        font-size: 20px;
    }   
}
.img_resto{
    width: 110%;
    top: 70px;
    right: 10px; 
}
.note{                         /*image note enchantée*/
    top: -10px;
    height: 400px;
}
/*section*/
.menu{
    padding: 0;
    border-radius: 30px 30px 0 0;
    top: 260px;
}
.titre{
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    & h1{
        font-size: 25px;
        width: 250px;
    }
    & .far{
        font-size: 22px;
        right: 11%;
    }
    & .fas{
        position: absolute;
        right: 11%;
        font-size: 22px;
        display: none;
    }
}
.repas{
    width: 96%;
    margin: auto;
    & h2{
        font-size: 18px;
        width: 40px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    & .liste{
        & .texte{
        width: 95%;
        padding-left: 10px;
            &_gras{
                font-size: 15px;
                &--modifier{
                    font-size: 16px;
                }
            }
        }
        & p{
            font-size: 13px;
        }
    }
}
.button{
    width: 180px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 50px;
}
/*footer*/
footer{
    top: 1490px;
    & h3 {
        font-size: 20px;
        margin-top: 10px;
    }
}
.enchantee{
    top: 1580px;
}
footer ul{
    flex-direction: column;
    & li{
        width: 100%;
        font-size: 18px;
        margin-bottom: 10px;
    }
    & i {
        font-size: 15px;
    }
}
}
@media (min-width: map-get($breakpoint, littletablette)) and (max-width: map-get($breakpoint, bigtablette)){
/*header*/
.logo{
    width: 250px;
}
.banniere{
    & i{
        font-size: 30px;
    }
}
.img_resto{
    position: relative;
    top: 0px;
}
.note{
    top: -270px;
}
/*section*/
.menu{
    top: 450px;
    border-radius: 15px;
    padding: 0;
}
.titre{
    & h1{
        font-size: 30px;
        margin-left: 30px;
    }
    & .far{
        font-size: 30px;
        right: 52%;
    }
    & .fas{
        position: absolute;
        right: 52%;
        font-size: 30px;
        display: none;
    }
}
.repas{
    width: 100%;
    & h2{
        font-size: 25px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    & .liste{
        width: 95%;
        & .texte{
            margin: auto;
            margin-bottom: 25px;
            &_gras{
                margin-top: 10px;
            }
            & p{
                font-size: 20px;
            }
        }
    }
}
.button{
    margin: auto;
    margin-bottom: 60px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}
/*footer*/  
footer{
    top: 1900px;
    & h3 {
        font-size: 32px;
    }
}
.enchantee{                 /*footer note enchantée*/
    top: 2030px;
}
footer ul{
    flex-wrap: wrap;
    justify-content: space-around;
    & li{
        width: 40%;
        font-size: 25px;
        }
        & i {
            font-size: 20px;
        }
    }
}

/*animation coeur*/
.far:hover{
    animation: heart_1 600ms both ease-in-out;
}
.far{
    &:hover ~ .fas {
        display: block;
        background:-webkit-linear-gradient($color-primary, $color-secondary);
        background-clip:text;
        color:transparent;
        animation: animation-heart 800ms ease-in-out;
    }
}
@keyframes heart_1{
    100%{
        opacity: 0;
    }
    75%{
        opacity: .25;
    }
    50%{
        opacity: .50;
    }
    25%{
        opacity: .75;
    }
    0%{
        opacity: 1;
    }
}
@keyframes animation-heart{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*animation menu*/
.liste{
    transform-origin:bottom;
    animation-name: liste;
    animation-duration: 2000ms;
    animation-fill-mode: both;
    animation-delay: 500ms;
}
@keyframes liste{
    0%{
        opacity:0;
    }
    10%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.anim{
    animation-name: animation-liste;
    transform-origin:bottom;
    animation-duration: 800ms;
    animation-fill-mode: both;
    &_2{
        animation-name: animation-liste;
        transform-origin: bottom;
        animation-duration: 1000ms;
        animation-fill-mode: both;
    }
    &_3{
        animation-name: animation-liste;
        transform-origin: bottom;
        animation-duration: 1200ms;
        animation-fill-mode: both;
    }
    &_4{
        animation-name: animation-liste;
        transform-origin: bottom;
        animation-duration: 1400ms;
        animation-fill-mode: both;
    }
}
@keyframes animation-liste{
    0%{
        transform: translateY(-700%);
        opacity: 0;
    }
    80%{
        transform: translateY(-10%);
        opacity: 0.80;
    }
    90%{
        transform: translateY(-5%);
        opacity: 0.90;
    }
    100%{
        transform: translateY(0%);
        opacity:1;
    }
}
/*animation par ligne*/
span{
    display: none;
}
.clic:hover{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    & span {
        display: block;
        width: 60px;
        height: 100%;
        background-color: $color-tertiary;
        animation-name: block;
        animation-duration: 1000ms;
        & .anim_block_ok{
            display: flex;
            justify-content: center;
            line-height: 80px;
            font-size: 22px;
            animation-name: ok;
            animation-duration: 600ms;
            animation-delay: 100ms;
            color: $color-white;
        }
    }
    & .texte_2{
        animation-name: prix;
        animation-duration: 800ms;
        animation-fill-mode: forwards;
        transition-timing-function: ease-in-out;
        &_couper{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            animation-duration: 800ms;
            animation-fill-mode: forwards;
            transition-timing-function: ease-in-out;
            margin-right: 15px;
        }
    }
    & .texte_gras--modifier{
        padding: 0;
    }
}
@keyframes ok{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes block{
    0%{
        transform: translateX(100%);
    }
}
@keyframes prix{
    0%{
        width: 300px;
    }
    100%{
        width: 240px;
    }
}