@font-face{
    font-family: 'Shand';
        src: url('polices/Shrikhand-Regular.otf');
}
@font-face{
    font-family: 'Roboto';
        src: url('polices/Roboto-Medium.ttf');
}
@mixin police1 {
    font-family: "Shand", "comic sans ms",sans-serif;
    font-style: normal;
    font-weight: normal;
}
@mixin police2 {
    font-family: "Roboto", "trebuchet MS", sans-serif;
}
@mixin titreh2{
    font-size: 20px;
}
$color-primary: #9356DC;
$light-color-primary: lighten($color-primary, 30%);
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #FFF;
$color-grey: #d1d0d0;
$color-grey-light: lighten($color-grey, 10%);
$color-grey-dark: darken($color-grey, 50%);

/*header*/
header{
    overflow: hidden;
}
.banniere {
    background-color: $color-white; 
    padding-top: 1%;
    padding-bottom: 2%;
    position: relative;
    z-index: 2;
    & i {
        font-size: 40px;
        color: black;
    }
    & img{
        display: block;
        margin: auto;  
    }
}
.img_resto {
    width: 100%;
    height: auto;
    position:relative;
    top:-380px;
}
.menu{
    width: 100%;
    background-color: $color-grey-light;
    border-radius: 40px;
    position: absolute;
    margin-top: -650px;
    padding-left: 2%;;
    display: flex;
    flex-wrap: wrap;
}
.titre{
    display: flex;
    width: 70%;
    align-items: center;
    & h1{
        width: 100%;
        height: 40px;
        @include police1();
        font-weight: bold;
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 40px;
        margin-right: -650px;
    }
    & i{
        font-size: 35px;
    }
}
.repas{
    width: 30%;
    margin-right: 40px;
    @include police2();
    margin-bottom: 30px;
    & h2{
        width: 65px;
        font-size: 28px;
        font-weight: normal;
        margin-bottom: 40px;
        padding-bottom: 10px;
        border-bottom: 4px solid $color-tertiary;
    }
    & .liste{
        overflow: hidden;
    }
    & li{
        list-style-type: none;
        margin-left: -40px;
        padding-top: 2px;
        margin-bottom: 30px;
        width: 90%;
        height: 75px;
        box-shadow: 2px 2px 6px $color-grey-dark;
        border-radius: 20px;
        padding-left: 30px;
    }
}
.texte{
    height: 65px;
    display: flex;
    flex-direction: column;
    & p{
        margin-bottom: -10px;
    }
        &_gras{
            font-weight: bold;
            &--modifier{
                font-weight: bold;
                position: relative;
                top:-25px;
                right: -305px;
            }
        }
}
.button{
    @include police2();
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 35px;
    color: $color-white;
    font-size: 20px;
    line-height: 40px;
    background: linear-gradient($color-secondary, $color-primary);
    text-decoration: none;
    text-align: center;
}
/*footer*/
footer{
    background-color: $color-grey-dark;
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 30px;
    position: absolute;
    margin-top: 50px;
    & h3 {
        @include police1;
        color: $color-white;
        font-size: 30px;
    }
}
footer ul{
    display: flex;
    justify-content: space-between;
    & li{
        list-style-type: none;
        margin-left: -40px;
        margin-bottom: 20px;
        @include police2;
        width: 20%;
        font-size: 23px;
        & a{
            text-decoration: none;
            color: $color-white;
        }
    }
    & i {
        width: 12px;
        font-size: 18px;
        margin-right: 10px;
    }
}
/*animation*/
.liste{
    transform-origin:bottom;
    animation-name: liste;
    animation-duration: 2000ms;
    animation-fill-mode: both;
    animation-delay: 500ms;
}
@keyframes liste{
    0%{
        opacity:0;
    }
    10%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.anim{
    animation-name: animation-liste;
    transform-origin:bottom;
    animation-duration: 800ms;
    animation-fill-mode: both;
    &_2{
        animation-name: animation-liste;
        transform-origin: bottom;
        animation-duration: 1000ms;
        animation-fill-mode: both;
    }
    &_3{
        animation-name: animation-liste;
        transform-origin: bottom;
        animation-duration: 1200ms;
        animation-fill-mode: both;
    }
}
@keyframes animation-liste{
    0%{
        transform: translateY(-700%);
        opacity: 0;
    }
    80%{
        transform: translateY(-10%);
        opacity: 0.80;
    }
    90%{
        transform: translateY(-5%);
        opacity: 0.90;
    }
    100%{
        transform: translateY(0%);
        opacity:1;
    }
}

/*version mobile*/
$breakpoint: (
    mobile: 767px,
    littletablette: 768px,
    bigtablette: 991px,
);
@media screen and (max-width: map-get($breakpoint, mobile)){
/*header*/
.logo{
    width: 165px;
    padding-top: 10px;
}
.banniere{
    display: flex;
    align-items: center;
    margin-top: 0;
    & i{
        font-size: 20px;
    }
}
.img_resto {
    top: 0px;
}
/*section*/
.menu{
    top: 900px;
    border-radius: 15px;
    width: 95%;
}
.titre{
    width: 95%;
    & h1{
        font-size: 30px;
        margin-right: 25px;
    }
    & i{
        font-size: 25px;
    }
}
.repas{
    width: 100%;
    margin: auto;
    & h2{
        font-size: 22px;
        margin-bottom: 0px;
    }
    & .liste{
        & .texte{
        width: 108%;
        height: auto;
        margin-bottom: 15px;
        padding-left: 12px;
            &_gras{
                font-size: 18px;
                margin-top: 10px;
                &--modifier{
                    right: -300px;
                }
            }
            & p{
                width: 85%;
                font-size: 16px;
            }
        }
    }
}
.button{
    width: 180px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}


/*footer*/
footer{
    top: 1490px;
    & h3 {
        font-size: 20px;
    }
}
footer ul{
    flex-direction: column;
    & li{
        width: 90%;
        font-size: 18px;
        margin-bottom: 10px;
    }
    & i {
        font-size: 16px;
    }
}
}
@media (min-width: map-get($breakpoint, littletablette)) and (max-width: map-get($breakpoint, bigtablette)){
/*header*/
.logo{
    width: 250px;
}
.banniere{
    display: flex;
    align-items: center;
    & i{
        font-size: 30px;
    }
}
.img_resto {
    top: -150px;
}
/*section*/
.menu{
    top: 1000px;
    border-radius: 15px;
    width: 97%;
}
.titre{
    width: 90%;
    & h1{
        font-size: 30px;
        margin-right: 25px;
        margin-left: 10px;
    }
    & i{
        font-size: 30px;
    }
}
.repas{
    width: 100%;
    & h2{
        font-size: 25px;
        margin-bottom: 5px;
        margin-left: 30px;
    }
    & .liste{
        width: 95%;
        & .texte{
            width: 85%;
            margin: auto;
            margin-bottom: 25px;
            padding-left: 40px;
            &_gras{
                margin-top: 10px;
                &--modifier{
                    right: -480px;
                    top: -50px;
                }
            }
            & p{
                width: 85%;
                font-size: 20px;
            }
        }
    }
}
.button{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 200px;
    height: 40px;
}
/*footer*/  
    footer{
        top: 1790px;
        width: 100%;
        & h3 {
            font-size: 32px;
        }
    }
    footer ul{
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: -60px;
        & li{
            width: 40%;
            font-size: 25px;
            margin-bottom: 20px;
        }
        & i {
            font-size: 16px;
        }
    }
}